/* slider component */
.slider-container {
  max-width: 600px;
  margin: 20px auto;
}

body {
  background-color: #a3b899;
}

h1 {
  text-align: center;
  color: #f8d3c5;
  font-size: 3em;
  text-shadow: 2px 2px 2px black;
}

  